<div class="sidebar coluna main-color-bg borda-direita">
  <div class="nome">Mateus Venâncio</div>
  <div>Software Developer</div>
  <div class="menu">
    <a href="#" class="menu-item">Home</a>
    <a href="#" class="menu-item">Contato</a>
    <a href="#" class="menu-item">Blog</a>
    <a href="#" class="menu-item">Projetos</a>
  </div>
  <div class="contato">
    <a href="mailto:contato@mateusvenancio.com.br" target="_blank">
      <fa-icon [icon]="faEmail"></fa-icon>
    </a>
    <span class="ponto"> • </span>
    <a href="#">
      <fa-icon [icon]="faTelefone"></fa-icon>
    </a>
  </div>
</div>
