.container {
  padding: 40px 50px;
  border-bottom: 1px solid #00de7a;
  width: auto;
}

.coluna {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.titulo {
  font-size: 25px;
}

.data {
  font-size: 10px;
}

.tag {
  margin-right: 5px;
  padding: 2px 4px;
  border-radius: 90px;
  border: 1px solid #00de7a;
}

.github {
  padding-left: 6px;
}

.centralizar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2.5px 0;
}

.tamanho {
  font-size: 20px;
}
